*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* HEADER */

header{
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    color: #00CA88;
    margin: 10px 0 0 0;
}
@media (max-width: 768px){
    header {
        width: 83rem;
    }
}
@media (max-width: 375px){
    header {
        width: 39rem;
    }
}

.header-paragraph {
    color: #00CA88;
}

header nav a{
    color: #00CA88;
}
header nav img {
    position: relative;
    top: -10px;
    left: -13px;
    width: 18px;
}

header nav span {
    margin: 20px 20px;
}

.header-logo{
    display: flex;
}

.header-logo p {
    font-size: 35px;
}
.header-logo img {
    position: relative;
    top: -10px;
    left: -9px;
}
/* FIM DO HEADER */

/* INICIO SECTION WALLPAPER */
.container-social{
    display: inline-block;
    flex-direction: column;
    width: 10px;
    margin-left: 10px;
}
@media (max-width: 768px){
    .container-social {
        margin-left: 71px;
    }
}
@media (max-width: 375px){
    .container-social {
        display: none;
    }
}

.container-social hr {
    margin-left: 20px;
}
.container-social img {
    margin: 10px 0 10px 10px;
}

.container-social-paragraph{
    transform: rotate(270deg);
    color: #fff;
    position: absolute;
    bottom: 199px;
    left: -51px;
    font-size: 20px;
}
@media (max-width: 1024px){
    .container-social-paragraph {
    bottom: 140px;
    }
}
@media (max-width: 768px){
    .container-social-paragraph {
        bottom: 8rem;
        left: 11px;
    }
}

.line-vertical{
    height: 100px;
    border-left: 2px solid;
    color: #FFFFFF;
    position: absolute;
    top: 212px;
    left: 35px;
}
@media (max-width: 768px){
    .line-vertical {
        top: 13rem;
        left: 97px;
    }
}

.container-main{
    background-image: url(assets/dog-838281_1920.jpg);
    width:100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
@media (max-width: 1024px){
    .container-main {
        width: 89rem;
    }
}
@media (max-width: 768px){
    .container-main {
        width: 91rem;
    }
}
@media (max-width: 375px){
    .container-main {
        width: 42rem;
    }
}

.container-main::after { 
    content:'';
    width:100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0.42;
    background-color: #00B77A;
    z-index: -1;
}
@media (max-width: 1024px){
    .container-main::after {
        width: 89rem;
    }
}
@media (max-width: 768px){
    .container-main::after {
        width: 91rem;
    }
}
@media (max-width: 375px){
    .container-main::after {
        width: 42rem;
    }
}

.container-text-button{
    text-align: center;
    margin-top: -83px;
    margin-left: -42px;
}
@media (max-width: 375px){
    .container-text-button {
        text-align: center;
        margin: 0;
    }
}

.button1{
    background-color: #00CA88;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 16px;
    height: 50px;
    margin: 0 20px;
}
@media (max-width: 375px){
    .button1 {
    width: 250px;
    margin: 0 0 20px 0;
    }
}

.button2{
    background-color: #fff;
    color: #00CA88;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    width: 250px;
    height: 50px;
}
.container-main-title {
    font-size: 90px;
    color: #fff;
}
@media (max-width: 375px){
    .container-main-title {
    font-size: 50px;
    width: 368px;
    margin-left: 8rem;
    }
}

.container-main-paragraph {
    font-size: 22px;
    color: #fff;
    width: 44vw;
    margin-left: 25%;
    text-align: center;
}
@media (max-width:1024px) {
    .container-main-paragraph{
        margin-left: 29rem;
    }
}
@media (max-width: 768px){
    .container-main-paragraph {
        margin-left: 36rem;
    }
}
@media (max-width: 375px){
    .container-main-paragraph {
        margin: 3rem 0 0 10rem;
        width: 300px;
    }
}

.container-main-buttons {
    margin: 20px;
}
@media (max-width: 375px){
    .container-main-buttons {
        width: 100px;
        margin: 12rem 0 0 12rem;
    }
}
/* FIM SECTION WALLPAPER */

/* INICIO SECTION SOBRE */
.sobre-block {
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 100vh;
}
@media (max-width: 1024px){
    .sobre-block {
        width: 85rem;
        margin: 50px;
    }
}
@media (max-width: 768px){
    .sobre-block {
        width: 80rem;
        height: 50rem;
    }
}
@media (max-width: 375px){
    .sobre-block {
        width: 39rem;
        height: 50rem;
    }
}

.sobre-title {
    font-size: 64px;
    color: #00CA88;
    margin-top: 25px;
}
@media (max-width: 768px){
    .sobre-title {
        font-size: 50px;
        margin-top: 0;
    }
}
@media (max-width: 375px){
    .sobre-title {
        text-align: center;
    }
}

.sobre-paragraph {
    width: 450px;
    color: #575757;
    margin-top: 25px;
}
@media (max-width: 768px){
    .sobre-paragraph {
        font-size: 21px;
    }
}
@media (max-width: 375px){
    .sobre-paragraph {
        margin-left: 3rem;
    }
}

.sobre-input {
    margin-top: 35px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    width: 293px;
    height: 50px;
    padding: 9px;
    color: #fff;
    background-color: #00CA88;
}
@media (max-width: 375px){
    .sobre-input {
        margin: 2rem 0 0 7rem;
    }
}

.sobre-img-dog {
    position: absolute;
    z-index: 1;
    margin: 100px 0 0 57px;
}
@media (max-width: 375px){
    .sobre-img-dog {
        display: none;
    }
}

.sobre-img-circle-top {
    position: relative;
    top: -5rem;
    right: -20rem;
}
@media (max-width: 375px){
    .sobre-img-circle-top {
        display: none;
    }
}

.sobre-img-circle-mid {
    position: relative;
    left: 13rem;
    bottom: -20rem;
}
@media (max-width: 375px){
    .sobre-img-circle-mid {
        display: none;
    }
}

.sobre-img-circle-bottom {
    position: relative;
    bottom: -22rem;
    left: -9rem;
}
@media (max-width: 768px){
    .sobre-img-circle-bottom {
        bottom: -19rem;
        left: 15rem;
    }
}
@media (max-width: 375px){
    .sobre-img-circle-bottom {
        display: none;
    }
}

.dog-block {
    width: 50vw;
}
/* FIM DA SECTION SOBRE */

/* INICIO DA SECTION ADOTE */
.adote {
    background-color: #00CA88;
    width:100%;
    height: 45rem;
}
@media (max-width: 1024px){
    .adote {
        width: 89rem;
        padding: 10px;
    }
}
@media (max-width: 768px){
    .adote {
        width: 91rem;
        height: 50rem;
    }
}
@media (max-width: 375px){
    .adote {
        width: 42rem;
        height: 90rem;
    }
}

.adote-title {
    color: #fff;
    font-size: 64px;
    margin-left: 100px;
    padding: 40px;
}

.adote-paragraph {
    color: #fff;
    width: 386px;
    margin-left: 80px;
}
@media (max-width: 768px){
    .adote-paragraph {
        font-size: 23px;
    }
}
@media (max-width: 375px){
    .adote-paragraph {
        width: 363px;
    }
}
.adote-img-circle-left{
    position: relative;
    right: -45rem;
    top: -21rem;
}
@media (max-width: 375px){
    .adote-img-circle-left {
        display: none;
    }
}

.adote-img-circle-right{
    position: relative;
    right: -49rem;
    top: -16rem;
}
@media (max-width: 375px){
    .adote-img-circle-right {
        display: none;
    }
}

.adote-img-circle-bottom{
    position: relative;
    right: -46rem;
    top: -8rem;
}
@media (max-width: 1024px){
    .adote-img-circle-bottom {
        right: -53rem;
    }
}
@media (max-width: 768px){
    .adote-img-circle-bottom {
        right: -55rem;
    }
}
@media (max-width: 375px){
    .adote-img-circle-bottom {
        display: none;
    }
}

.back-image-display {
    display: flex;
    justify-content: space-around;
}

.back-image {
    width: 220px;
    height: 220px;
    border: solid #fff;
    background-color: #00CA88;
    position: relative;
    top: -10rem;
    border-radius: 10px;
}
@media (max-width: 375px){
    .back-image {
        display: none;
    }
}

.front-image {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -24rem;
    left: -1rem;
}
@media (max-width: 375px){
    .front-image {
        flex-direction: column;
        top: 3rem;
        margin: 2rem 0 0 4rem;
    }
}

.block-dogs {
    width: 210px;
    border-radius: 10px;
    height: 210px;
}
@media (max-width: 375px){
    .block-dogs {
        margin: 15px;
    }
}

.adote-nomes {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -23rem;
    color: #fff;
}
@media (max-width: 375px){
    .adote-nomes {
        display: none;
    }
}

.adote-block-idade {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -23rem;
    color: #fff;
}
@media (max-width: 375px){
    .adote-block-idade {
        display: none;
    }
}

.adote-idade {
    font-size: 20px;
}
@media (max-width: 768px){
    .adote-idade {
        font-size: 25px;
    }
}
@media (max-width: 375px){
    .adote-idade {
        display: none;
    }
}
/* FIM DA SECTION ADOTE */

/* INICIO DO FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    width:100%;
    color: #00CA88;
}
@media (max-width: 1024px){
    footer {
        width: 87rem;
    }
}
@media (max-width: 375px){
    footer {
        width: 39rem;
    }
}

.footer-image {
    width: 350px;
    margin-top: 50px;
}
@media (max-width: 375px){
    .footer-image{
        display: none;
    }
}

.block-link {
    margin-top: 30px;
    border-left: solid 2px #00CA88;
    height: 11rem;
}
@media (max-width: 375px){
    .block-link {
        display: none;
    }
}

.block-link p {
    margin: 0 0 25px 10px;
    color: #00CA88;
}
.contatos {
    line-height: 3;
    margin-top: 50px;
    font-size: 20px;
}
@media (max-width: 375px){
    .contatos {
        font-size: 22px;
    }
}
.contatos-img {
    margin-left: 10px;
}


/* FIM DO FOOTER*/